@model Swuber.Models.Customer
@{
    ViewBag.Title = "Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Driver</h2>
<div class="form-group">
    @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.Status, new[] {
                    new SelectListItem() {Text ="(driver)Find a Parking Spot", Value ="Driver"},
                    new SelectListItem() {Text ="(walker)Find a Ride", Value ="Walker"},
           }, "Choose an Option")
        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
    </div>
</div>