@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One UNF Drive<br />
    Jacksonville, Fl 32224<br />
    <abbr title="Phone">P:</abbr>
   555.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@swuber.com">Support@swuber.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@swuber.com">Marketing@swuber.com</a>
</address>