@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    
    <h1>A new way to find the best parking at the University of North Florida</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Register", "Create", "Customers")</h2>

        <p>New user? Click here to create an account</p>
        
    </div>
    <div class="col-md-4">
       
        <h2>@Html.ActionLink("Login", "Login", "Login")</h2>
        <p>Existing user? Click here to sign in</p>
        
    </div>
    <div class="col-md-4">
      
        <h2>@Html.ActionLink("Chat", "Chat")</h2>
        <p>Chat with us here</p>
        
    </div>
    <a class="twitter-timeline" href="https://twitter.com/SwuberCorp">Tweets by SwuberCorp</a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>